<extend name="Public/tpl" />
<block name="title">系统设置 - </block>
<block name="content">
    <nav class="nav-title">
        <h4>系统设置 <small>在这里对系统进行参数设置</small></h4>
        <section class="pull-right">
            <div class="input-group">
                <span class="input-group-addon">参数类型</span>
                <select class="form-control text-center" name="pa_class" onchange="load_list(this.value);">
                    <volist name="class['data']" id="classData">
                        <option value="{$classData['pa_class']}" <eq name="class['on']" value="$classData['pa_class']">selected</eq> >{$classData['pa_t_title']}</option>
                    </volist>
                </select>
            </div>
        </section>
    </nav>
    <form action="{:U('operat')}" method="post" enctype="multipart/form-data">
        <table id="list-seting" class="table table-hover">
            <thead>
            <tr>
                <th style="width: 250px;">属性</th>
                <th style="width: 400px;">值</th>
                <th>填写说明</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td><b>操作</b></td>
                <td colspan="2">
                    <input hidden type="text" name="se_type" value="{$setingData.id}" >
                    <button type="submit" class="btn btn-success" name="operat" value="save">保存修改</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
    <script type="text/javascript">
    function load_list(value){
        $.get("{:U('parameter_list')}?class="+value,function(list){$("table#list-seting tbody").html(list);});
    }
    window.onload=load_list($("select[name=pa_class]").val());
    </script>
</block>