<extend name="Public/tpl" />
<block name="title">系统设置 - </block>
<block name="content">
    <nav class="nav-title">
        <h4>系统设置 <small>在这里对系统进行参数设置</small></h4>
        <section class="pull-right">
            <div class="input-group">
                <span class="input-group-addon">参数类型</span>
                <select class="form-control text-center" name="pa_class" onchange="load_list(this.value);">
                    <volist name="class" id="classData">
                        <option value="{$classData['int_value']}" <eq name="class['on']" value="$classData['int_value']">selected</eq> >{$classData['short_desc']}</option>
                    </volist>
                </select>
            </div>
        </section>
    </nav>
    <form action="{:U('operat')}" method="post" enctype="multipart/form-data">
        <table id="list-seting" class="table table-hover">
            <thead>
            <tr>
                <th style="width: 50px;">Ctrl</th>
                <th style="width: 50px;">Index</th>
                <th style="width: 50px;">Sort</th>
                <th style="width: 55px;">Int Val</th>
                <th style="width: 50px;">Ext Val</th>
                <th style="width: 50px;">Oth Val</th>
                <th style="width: 150px;">Short Desc</th>
                <th style="width: 250px;">Long Desc</th>
                <th style="width: 60px;" >操作</th>
            </tr>
            </thead>
            <tbody id="tbodyid"></tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <input hidden type="text" name="se_type" value="{$setingData.id}" >
                    <button type="button" class="btn btn-warning" name="operat" value="add" onclick="parameter_add();">新增</button>
                </td>
                <td colspan="2">
                    <input hidden type="text" name="se_type" value="{$setingData.id}" >
                    <button type="submit" class="btn btn-success" name="operat" value="save">保存修改</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
    <script type="text/javascript">
    function load_list(value){
        $.get("{:U('parameter_list')}?class="+value,function(list){$("table#list-seting tbody").html(list);});
    }
    window.onload=load_list($("select[name=pa_class]").val());

    </script>

</block>