<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>产品展示</title>
    <meta name="keywords" content="{$wwwdata['KEYWORDS']}" />
    <meta name="description" content="{$wwwdata['DESCRIPTION']}" />
    <meta name="version" content="{$wwwdata['VERSION']}" />
    <meta name="author" content="{$wwwdata['AUTHOR']}" />
    <include file='Public/link' />
</head>
<body>
<include file='Public/header' />
<div class="container">
    <div class="row"> 
        <article  class="col-lg-8 col-md-8 col-sm-12 col-xs-12 well indexwell">
            <h4><block name="localhost"><i class="glyphicon glyphicon-home"></i><small>您现在的位置: <a href="{:U('/index')}">首页</a> {$current_path}</small></block></h4>
                 <ul data-role="listview" data-theme="a" class="k_img_ul thumbnail" id="fpmxList">
                    <volist name='article' id='articleData'>
                        <li><span><a href="{:U('/article/'.$articleData['ar_id'])}"><img src="{$articleData['ar_cover_img']}" /></a></span><p>{$articleData['ar_title']}</p></li>
                       
                    </volist>
                </ul> 
            <div id="blog" >


            <script>

//            var classname = "服务分享";
//            $.get("{:U('pagecontrol/blog')}?blog_class="+classname,function(response)
//                {
//                    $("#blog").html(response);
//                });
            </script>
            </div>
        </article>
        
        <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well rightwell">
            <include file='Public/right' />
        </article>
        
    </div>
</div>
<include file='Public/footer' />
</body>
</html>