<extend name="Public/winbell_templet" />
<block name="title">{:L('_news')}</block>

<block name="content_title"><span>{:L('_news')}</span></block>
<block name="main-content">
    <div class="ny_pad">
 
       
    <div class="module">
    <volist name="news" id="newsData">
       <article class="module-news-1">
            <div><span></span></div>
             <footer>
                <h4> 
                    <time>{$newsData['no_nickname']}<small>{$newsData['no_time']|timestamp_to_timeline}</small></time>
                </h4>
                <div>{$newsData['no_content']}</div>
           </footer>
        </article>
    </volist>
    </div>
    <ul class="module-page-1 pull-right">
        <if condition="$button['first'] neq null"><li><a href="{:U('/news')}">首页</a></li></if>
        <if condition="$button['previous'] neq null"><li><a href="<if condition="$button['previous'] eq 1">{:U('/news')}<else />{:U('/news_'.$button['previous'])}</if>">上一页</a></li></if>
        <volist name="button['num']" id="numData">
            <eq name="numData" value="$button['on']"><li class="active"><a>{$numData}</a></li>
            <else/><li><a href="<if condition="$numData eq 1">{:U('/news')}<else />{:U('/news_'.$numData)}</if>">{$numData}</a></li>
            </eq>
        </volist>
        <if condition="$button['next'] neq null"><li><a href="{:U('/news_'.$button['next'])}">下一页</a></li></if>
        <if condition="$button['end'] neq null"><li><a href="{:U('/news_'.$button['end'])}">末页</a></li></if>
    </ul>
    <div class="clear"></div>

    </div>


              
         
 
</block>

