<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>联系我们</title>
    <meta name="keywords" content="{$wwwdata['KEYWORDS']}" />
    <meta name="description" content="{$wwwdata['DESCRIPTION']}" />
    <meta name="version" content="{$wwwdata['VERSION']}" />
    <meta name="author" content="{$wwwdata['AUTHOR']}" />
    <include file='Public/link' />
</head>
<body>
<include file='Public/header' />
    <article class="container indexslide">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="#"><img src="__PUBLIC__/newmig/img/slider/banner_contact.jpg" style="width: 100%;"></a>
                </div>
                
            </div>            
            

        </div>
    </article>

    <div class="container">
          <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    
                    <div class="indexhotarticle">产品介绍</div>
                    <div class="indexsign"> 
                        </br>
                    <p>
                    模块开发中 ，请等待。。。。。
                    </p>
                    </div>
                </div>
    



    <!-- 联系我们 -->
                <div class="col-lg-8 col-md-6 col-xs-12"> 
                    <div class="indexhotarticle">联系我们</div>
                    <div class="pic">
                        <br/>   
                     <!--   <span style='font-family:Microsoft YaHei;color:#003399;font-size:16px;'>销售咨询：<br/> </span>   -->
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>地址：山东省济南市高新区舜华路2000舜泰广场8号楼1-1102A<br /></span>
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>传真：0531-67808193</span><br />
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>销售热线：0531-67808379 / 13701661567 / 18678820805</span><br />
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>邮箱：</span><a href='mailto:sales01_newmig@126.com'><span style='font-family:Microsoft YaHei;font-size:14px;'>sales01_newmig@126.com</span></a><span style='font-family:Microsoft YaHei;font-size:14px;'>&nbsp;</span><br />
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>QQ: 3199345716</span><br />

                         <br/>   
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>服务热线：0531-67808357/ 18678820705</span><br />
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>邮箱：</span><a href='mailto:service02_newmig@126.com'><span style='font-family:Microsoft YaHei;font-size:14px;'>service02_newmig@126.com</span></a><span style='font-family:Microsoft YaHei;font-size:14px;'> &nbsp;</span><br/>
                        <span style='font-family:Microsoft YaHei;font-size:14px;'>QQ: 3361465943</span><br />
                        <br/> 
                        <br/> 
                    </div>
                </div> 


         </div>


        
    </div>


<include file='Public/footer' />
</body>
</html>