

<div class="container">
    
    <div class="row">
    	        <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well rightwell">
    	        <div class="indexhotarticle">下载中心</div>
            <div class="txt2">
                <section class="blogclass">             
                  <ul class="product_list">
                  
                                       <li class="indexhotarticle" style="list-style-type:none;" >
                                            
                                            <a >产品样本</a></li> </br>
                                    	<li class="indexhotarticle" style="list-style-type:none;">
                                            
                                            <a >说明书</a></li></br>



                  </ul>
   				 </section>
        	</div>
        </article>
        
        <article  class="well col-lg-8 col-md-8 indexwell">
        		<section class="indexhotarticle">下载产品说明书</section>
                <section class="indexarticle">
                   <p>
                        <a href='__PUBLIC__/newmig/files/mRoy-item/G系列GMA型计量泵.pdf' target='_blank'><span style='font-size:14px;font-family:Microsoft YaHei;color:#e53333;'>G系列GMA型计量泵</span></a></br> 

                   </p>
                </section>
        </article>
        
    </div>
</div>


 <script>
    $(".blogclass a").click(function()
        {    alert("11");
            $("html,body").animate({scrollTop:$("body").offset().top},500);
                if($(this).html() == '产品样本'){
	               alert("1");
	                    $("section.indexhotarticle").html('产品样本下载');
	                    $("section.indexarticle").html('<a href='__PUBLIC__/newmig/files/mRoy-item/G系列GMA型计量泵.pdf' target='_blank'><span style='font-size:14px;font-family:Microsoft YaHei;color:#e53333;'>G系列GMA型计量泵</span></a></br>  ');
	                
	            } 
	            if($(this).html() == '说明书'){
	                    $("section.indexhotarticle").html('说明书下载');
	                  
	                     $("section.indexarticle").html('  <a href='__PUBLIC__/newmig/files/item-introduce/G系列B型隔膜计量泵GB_MR.CHN.339-0049-000.08_2014' target='_blank'><span style='font-size:14px;font-family:Microsoft YaHei;color:#e53333;'>G系列B型隔膜计量泵说明书</span></a></br>  ');
	            }
	            

        });
    
    </script> 