<extend name="Public/winbell_templet" />
<block name="title">{$current_title}</block>

<block name="content_title"><span>{$about['no_title']}</span></block>
<block name="main-content">
    <div class="ny_pad">
        <div class="ny_about">
    
            {$about['no_content']}
        </div>
    </div>
       



    <ul class="module-page-1 pull-right">
        <if condition="$button['first'] neq null"><li><a href="{:U('/classes/'.$class['class'].$class['subclass'])}">首页</a></li></if>
        <if condition="$button['previous'] neq null"><li><a href="<if condition="$button['previous'] eq 0">{:U('/classes/'.$class['class'])}<else />{:U('/classes/'.$class['class'].$class['subclass'].'_'.$button['previous'])}</if>">上一页</a></li></if>
        <volist name="button['num']" id="numData">
            <eq name="numData" value="$button['on']">
            <li class="active"><a>{$numData}</a></li>
            <else/>
            <li><a href="{:U('/classes/'.$class['class'].$class['subclass'].'_'.$numData)}">{$numData}</a></li>
            </eq>
        </volist>
        <if condition="$button['next'] neq null"><li><a href="{:U('/classes/'.$class['class'].$class['subclass'].'_'.$button['next'])}">下一页</a></li></if>
        <if condition="$button['end'] neq null"><li><a href="<if condition="$class['on'] eq 0">{:U('/articles_'.$button['end'])}<else />{:U('/classes/'.$class['class'].$class['subclass'].'_'.$button['end'])}</if>">末页</a></li></if>
    </ul>
    <div class="clear"></div>


<!--滚动图片开始-->
           
<div class="ny_pad">     
    <div class="main_hot" id="main_hot">            
    <div class="main_hotbk l">
        <ul class="dp_list" >
            <volist name="right['box']['recom']" id="recomData">
                <li style="width:140px"><a href="{:U('/details/'.$recomData['ar_id'])}" class="pro_a01"><img src="{$recomData['ar_cover_img']}"  alt="{$recomData['ar_title']}" /></a></li>
            </volist>                                
        </ul>
    </div>
        <span class="hot_prev" style="display: none"></span>
        <span class="hot_next" style="display: none"></span>
    </div>
</div>                     
<!--滚动图片结束-->                    
         
 
</block>