<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>{$lookblog["blog_name"]} — 详情</title>
    <meta name="keywords" content="{$wwwdata['KEYWORDS']}" />
    <meta name="description" content="{$wwwdata['DESCRIPTION']}" />
    <meta name="version" content="{$wwwdata['VERSION']}" />
    <meta name="author" content="{$wwwdata['AUTHOR']}" />
    <include file='Public/link' />
</head>
<body>
<include file='Public/header' />
<div class="container">
    <div class="row">
        <article  class="col-lg-8 col-md-8 well indexwell">
            <section class="indexhotarticle ">
                <small>您现在的位置: <a href="{:U('/index')}">首页</a> {$current_path} -> {$article['ar_title']}</small>
            </section>
            <section class="panel panel-info lookblog">
                <header class="panel-heading text-center">
                    <h3>{$article['ar_title']}</h3>
                </header>
                <div class="panel-body" >
                    {$article['ar_body']}

                </div>

            </section>

        </article>
        <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well rightwell">
            <include file='Public/right' />
        </article>
    </div>
</div>



<include file='Public/footer' />

</body>
</html>