<extend name="Public/winbell_templet" />
<block name="title">技术分享</block>

<block name="content-right">
    <div class="module module-right-search visible-xs" style="margin-top: 10px;">
        <header><input type="text" name="search" class="form-control" placeholder="输入搜索的文章名"></header>
        <footer><a class="btn btn-default">搜索</a></footer>
    </div>
    <div class="module">
    <volist name="article" id="articleData">
        <article class="module-article-img1">
            <h4><a href="{:U('/article/'.$articleData['ar_id'])}">{$articleData['ar_title']}</a></h4>
            <h5><span>发布时间：{$articleData['ar_time']|timestamp_to_timeline}</span><span>栏目：{$articleData['ar_class']|get_class_title}</span></h5>
            <header class=""><a href="{:U('/article/'.$articleData['ar_id'])}"><img src="{$site['site_catalog']}{$articleData['ar_cover_img']}" alt="{$articleData['ar_title']}_封面" /></a></header>
            <footer>
                <header><p><a href="{:U('/article/'.$articleData['ar_id'])}">{$articleData['ar_description']}</a></p></header>
                <div>
                    <span><i class="glyphicon glyphicon-tag"></i>{$articleData['ar_keywords']}</span>
                    <a href="{:U('/article/'.$articleData['ar_id'])}" class="btn btn-xs btn-success">阅读全文</a>
                </div>
            </footer>
        </article>
    </volist>
    </div>
    <ul class="module-page-1 pull-right">
        <if condition="$button['first'] neq null"><li><a href="<if condition="$class['on'] eq 0">{:U('/articles')}<else />{:U('/articles/'.$class['on'])}</if>">首页</a></li></if>
        <if condition="$button['previous'] neq null"><li><a href="<if condition="$class['on'] eq 0 and $button['previous'] eq 1">{:U('/articles')}<elseif condition="$class['on'] eq 0"/>{:U('/articles_'.$button['previous'])}<elseif condition="$button['previous'] eq 1"/>{:U('/articles/'.$class['on'])}<else />{:U('/articles/'.$class['on'].'_'.$button['previous'])}</if>">上一页</a></li></if>
        <volist name="button['num']" id="numData">
            <eq name="numData" value="$button['on']">
            <li class="active"><a>{$numData}</a></li>
            <else/>
            <li><a href="<if condition="$class['on'] eq 0 and $numData eq 1">{:U('/articles')}<elseif condition="$class['on'] eq 0"/>{:U('/articles_'.$numData)}<elseif condition="$numData eq 1"/>{:U('/articles/'.$class['on'])}<else />{:U('/articles/'.$class['on'].'_'.$numData)}</if>">{$numData}</a></li>
            </eq>
        </volist>
        <if condition="$button['next'] neq null"><li><a href="<if condition="$class['on'] eq 0">{:U('/articles_'.$button['next'])}<else />{:U('/articles/'.$class['on'].'_'.$button['next'])}</if>">下一页</a></li></if>
        <if condition="$button['end'] neq null"><li><a href="<if condition="$class['on'] eq 0">{:U('/articles_'.$button['end'])}<else />{:U('/articles/'.$class['on'].'_'.$button['end'])}</if>">末页</a></li></if>
    </ul>
    <div class="clear"></div>
</block>
