<extend name="Public/templet-article" />
<block name="title">{$article['ar_title']}</block>
<block name="seo-keywords">{$article['ar_keywords']},{$site['site_keywords']}</block>
<block name="seo-description">{$article['ar_description']}</block>
<block name="localhost"><i class=""></i><small>您现在的位置: 首页 -> 技术分享 - > {$article['ar_title']}</small></block>
<block name="content-right">
    <article class="detail">
        <h4>{$article['ar_title']}</h4>
        <h5><span>发布时间：{$article['ar_time']|timestamp_to_timeline}</span><span>栏目：{$article['ar_class']|get_class_title}</span></h5>
        <hr/>
        <article>{$article['ar_body']}</article>
        <ul class="module-page-1 pull-right">
            <if condition="$button['first'] neq null"><li><a href="{:U('/article/'.$article['ar_id'])}">首页</a></li></if>
            <if condition="$button['previous'] neq null"><li><a href="<if condition="$button['previous'] eq 1">{:U('/article/'.$article['ar_id'])}<else />{:U('/article/'.$article['ar_id'].'_'.$button['previous'])}</if>">上一页</a></li></if>
            <volist name="button['num']" id="numData">
                <eq name="numData" value="$button['on']">
                <li class="active"><a>{$numData}</a></li>
                <else/>
                <li><a href="<if condition="$numData eq 1">{:U('/article/'.$article['ar_id'])}<else />{:U('/article/'.$article['ar_id'].'_'.$numData)}</if>">{$numData}</a></li>
                </eq>
            </volist>
            <if condition="$button['next'] neq null"><li><a href="{:U('/article/'.$article['ar_id'].'_'.$button['next'])}">下一页</a></li></if>
            <if condition="$button['end'] neq null"><li><a href="{:U('/article/'.$article['ar_id'].'_'.$button['end'])}">末页</a></li></if>
        </ul>
        <section>
            <if condition="$article['ar_source'] neq null">
            <h5><span>版权说明：</span>本文为【{$article['ar_source']}】原创文章，转载请说明出处。</h5>
            <else />
            <h5><span>版权说明：</span>本文为【{$site['site_name']}】原创文章，转载请说明出处。</h5>
            <h5><span>文章地址：</span>{$site['site_url']}{$site['site_catalog']}/article/{$article['ar_id']}.html</h5>
            </if>
        </section>
        <footer>
            <h4 class="bdsharebuttonbox">
                <a title="分享到QQ好友" class="bds_sqq" data-cmd="sqq"></a>
                <a title="分享到QQ空间" class="bds_qzone" data-cmd="qzone"></a>
                <a title="分享到微信" class="bds_weixin" data-cmd="weixin"></a>
                <a title="分享到新浪微博" class="bds_tsina" data-cmd="tsina"></a>
                <a title="分享到腾讯微博" class="bds_tqq" data-cmd="tqq"></a>
                <a title="分享到人人网" class="bds_renren" data-cmd="renren"></a>
            </h4>
            <h4 class="pull-right hidden-xs">
                <if condition="$article['previous'] eq null">
                <a class="btn btn-info btn-sm disabled">当前是第一篇</a>
                <else /><a href="{:U('/article/'.$article['previous'])}" class="btn btn-info btn-sm">上一篇</a></if>
                <if condition="$article['next'] eq null">
                <a class="btn btn-info btn-sm disabled">当前是最后一篇</a>
                <else /><a href="{:U('/article/'.$article['next'])}" class="btn btn-info btn-sm">下一篇</a></if>
            </h4>
        </footer>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    </article>
</block>

<block name="div-script">
</block>