
<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="__PUBLIC__/css/system.home.css" rel="stylesheet">

    <!-- 公共js -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<block name="div-script"><!-- 这是页面自定义script --></block>
<!-- 导航栏隐藏 -->
<script src="__PUBLIC__/js/headroom.jquery.headroom.js"></script>
<script src="__PUBLIC__/js/headroom.js"></script>
<script src="__PUBLIC__/js/system.home.js"></script>