<!-- 
<header class="navbar navbar-default" role="navigation">
-->

<header class="container" role="navigation">

    <div class="masthead">
        <h7 class="text-muted"> <a href="{:U('/index')}"><img src="__PUBLIC__/newmig/img/slider/8.png" style="width: 100%; " /></a></h7>
        <section class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
        <nav>
          <ul class="nav nav-justified">
            <li><a href="{:U('/index')}">首页</a></li>
            <li><a href="{:U('/1102')}">公司介绍</a></li>
            <li><a href="{:U('/classes/02')}">产品展示</a></li>
            <li><a href="{:U('/1104')}">应用业绩</a></li>
            <li><a href="{:U('/1105')}">资料下载</a></li>
            <li><a href="{:U('/1106')}">联系我们</a></li>
          </ul>
        </nav>
      </section>
      </div>
    <div class="container">
        <nav class="row allnav">
        </nav>
    </div>
</header>

<nav class="container visible-xs xsnav">
    <section>
        <div class="btn-group btn-group-justified" role="group">

            <div class="btn-group" role="group">
                <a href="{:U('/index')}" class="btn btn-success"><span class="glyphicon glyphicon-home">&nbsp;主页</span></a>
            </div>
            <div class="btn-group" role="group">
                <a href="{:U('/1102')}" class="btn btn-warning"><span class="glyphicon glyphicon-user">&nbsp;公司介绍</span></a>
            </div>
            <div class="btn-group" role="group">
                <a href="{:U('/classes/02')}" class="btn btn-info"><span class="glyphicon glyphicon-calendar">&nbsp;产品展示</span></a>
            </div>
        </div>
    </section>
    <section>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <a href="{:U('/1104')}" class="btn btn-primary"><span class="glyphicon glyphicon-picture">&nbsp;应用业绩</span></a>
            </div>
            <div class="btn-group" role="group">
                <a href="{:U('/1105')}" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-edit">&nbsp;资料下载</span></a>
            </div>
            <div class="btn-group" role="group">
                <a href="{:U('/1106')}" class="btn btn-danger"><span class="glyphicon glyphicon-list-alt">&nbsp;联系我们</span></a>
            </div>
        </div>
    </section>
</nav>