<meta property="qc:admins" content="73063355221166375" />
<!--下面是bootstrap的文件-->

<link href="__PUBLIC__/newmig/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/newmig/js/jquery-2.1.1.min.js" ></script>
<script src="__PUBLIC__/newmig/js/bootstrap.min.js"></script>
<!--下面是自己的ico、css和js表-->
<link rel="shortcut icon" href="__PUBLIC__/newmig/img/company/logo-flag.jpg" />
<link href="__PUBLIC__/newmig/css/all.css" rel="stylesheet">
<link href="__PUBLIC__/newmig/css/art_master_top.css" rel="stylesheet">




<link href="__PUBLIC__/newmig/css/test1.css" rel="stylesheet"> 