<switch name="us_type" >
<case value="3">
<thead>
<tr>
    <th style="width: 110px;">ID</th>
    <th style="width: 110px;">状态</th>
    <th style="width: 150px;">管理组</th>
    <th style="width: 160px;">账户</th>
    <th style="width: 200px;">最后登录时间</th>
    <th style="width: 200px;">最后登录IP</th>
    <th style="width: 206px;">邮箱</th>
</tr>
</thead>
<tbody>
<volist name="user" id="userData" >
<tr>
    <td>{$userData['ad_id']}</td>
    <td><if condition="$userData['ad_state'] eq 2">禁止登陆<else />正常</if></td>
    <td><switch name="userData['ad_group']"><case value="1">超级管理员</case><default />体验账户</switch></td>
    <td>{$userData['ad_username']}</td>
    <td>{$userData['ad_last_time']|date="Y/m/d H:i",###}</td>
    <td>{$userData['ad_last_ip']}</td>
    <td>{$userData['ad_email']}</td>
</tr>
</volist>
</tbody>
</case>
<case value="2">
<thead>
<tr>
    <th style="width: 66px;">头像</th>
    <th style="width: 200px;">昵称</th>
    <th style="width: 150px;">最后登录时间</th>
    <th style="width: 150px;">最后访问IP</th>
    <th style="width: 170px;">最后访问地址</th>
    <th style="width: 100px;">最后访问系统</th>
    <th style="width: 300px;" >邮箱</th>
</tr>
</thead>
<tbody>
<volist name="user" id="userData" >
<tr>
    <td><img class="img-circle" src="{$userData['us_portrait']}" style="width:40px;height:40px;"></td>
    <td><h5>{$userData['us_nickname']}</h5></td>
    <td><h5>{$userData['us_last_time']|date="Y/m/d H:i",###}</h5></td>
    <td><h5>{$userData['us_last_ip']}</h5></td>
    <td><h5>{$userData['place']}</h5></td>
    <td><h5>{$userData['us_last_os']}</h5></td>
    <td><h5>{$userData['us_email']}</h5></td>
</tr>
</volist>
</tbody>
</case>
<case value="1">
<thead><tr><th colspan="8" class="text-center">暂无此功能，正在开发中...</th></tr></thead>
</case>
</switch>
<if condition="$button neq null">
<tfoot><tr><td colspan="8" class="text-center">{$button}</td></tr></tfoot>
<script type="text/javascript">
$(".page-ul li a").removeAttr("href");
$(".page-ul li a").click(function()
    {
        var active = $('.page-ul li.page-on a').text();        // 当前页
        var button = $(this).text();                           // 点击的按钮
        switch(button)
        {
        case '上一页': var to = (parseInt(active)-1); break;
        case '下一页': var to = (parseInt(active)+1); break;
        case '尾页'  : var to = {$pages};             break;
        case '首页'  : var to = 1;                    break;
        default      : var to = button;
        }
        $.get("{:U('user_list')}?page="+to,function(list){$("table#list-user").html(list);});
    });
</script>
</if>