<extend name="Public/Base1/templet_base" /> 
<block name="title">{$article['ar_title']}</block>
<block name="seo-keywords">{$article['ar_keywords']},{$site['site_keywords']}</block>
<block name="seo-description">{$article['ar_description']}</block>
<block name="localhost"><i class=""></i><small>您现在的位置: 首页 -> 关于 </small></block>
<block name="main-content">
    <div class="">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="">关于</a></h3>
                </div>

                <div class="panel-body panel-about">
                    <div>{$about['no_content']}</div>
                    
                </div>
            </div>
        

    </div>

</block>


<block name="div-script">
</block>