<extend name="Public/tpl" />
<block name="title">各类通知 - </block>
<block name="content">
        <a href="{:U('notice_add')}" class="btn btn-success pull-right">添加新的内容</a>
 
    <div class="with-padding">
        <h1>说说、公告、轮播 <small>在这里管理【说说】【公告】【轮播图】</small></h1>
        <div class="table-header button-height">
            <div class="float-right">
                <p class="button-height inline-label ">
                <label for="validation-select" class="label ">查看&nbsp;</label>
                <select id="validation-select" class="select blue-gradient" name="no_type" onchange="load_list(this.value);">
                    <volist name="cvt10003" id="downlist">
                        <option value="{$downlist.int_value}" <eq name="on_type" value="$downlist.int_value" >selected</eq> >{$downlist.short_desc}</option>
                    </volist>
                </select>
                </p>
            </div>
                显示&nbsp;<select name="range" class="select blue-gradient glossy">
                    <option value="1">10</option>
                    <option value="2">20</option>
                    <option value="3" selected="selected">40</option>
                    <option value="4">100</option>
                </select>条/每页
        </div>
        <table id="list-notice" class="table table-hover"></table>
    </div>

    <script type="text/javascript">
    //根据状态加载数据
    function load_list(type){
        $.get("{:U('notice_list')}?type="+type,function(list){$("table#list-notice").html(list);});
    }
    // 首次访问自动加载列表
    window.onload=function(){load_list($("select[name=no_type]").val());};
    </script>
</block>