<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>{$wwwdata['NAME']} — 风语前行</title>
    <meta name="keywords" content="{$wwwdata['KEYWORDS']}" />
    <meta name="description" content="{$wwwdata['DESCRIPTION']}" />
    <meta name="version" content="{$wwwdata['VERSION']}" />
    <meta name="author" content="{$wwwdata['AUTHOR']}" />
    <include file='Public/link' />
</head>
<body>
<include file='Public/header' />
<div class="container">
    <div class="row">
        <article  class="col-lg-8 col-md-8">
            <section class="forwardall">风语前行 _ <small>来看看过往的点点滴滴。</small></section>
            <div id="forward">
            <script>
            $.get("{:U('pagecontrol/forward')}",function(response)
                {
                    $("#forward").html(response);
                });
            </script>
            </div>
        </article>
        <!--下面的是右侧消息集合-->
        <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12 well rightwell">
            <include file='Public/right' />
        </article>
    </div>
</div>
<include file='Public/footer' />
</body>
</html>