<!DOCTYPE html> 
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><block name="title">{$current_title}</block><block name="connect"><if condition="$site['site_name_suffix']"> - {$site['site_name_suffix']}</if></block>
    </title>
    <meta name="keywords" content="<block name="seo-keywords">{$site['site_keywords']}</block>" />
    <meta name="description" content="<block name="seo-description">{$site['site_description']}</block>" />
    <meta name="version" content="{$site['site_version']}" />
    <meta name="author" content="{$site['site_author']}" />
    <block name="meta"></block>
    <!-- ico/css/js -->
    <link rel="shortcut icon" href="__PUBLIC__/winbell/logo.jpg" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.3.3.5.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/winbell/style.css">

    <script src="__PUBLIC__/js/jquery.2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.3.3.5.min.js"></script>
</head>

<body>





<div id="wrapper">
    <div id="header">
        <div class="wel">
        <p class="r">{$Think.lang._turn_to}<a href="?l=zh-cn">简体中文</a> | <a href="?l=en-us">English</a></p>
            {$Think.lang._welcome}
        </div>
        <div class="top">
            <div class="top_tell pull-right">
                ---{$Think.lang._office_tel}---
                <p>021-65679986</p>
            </div>
<!--            <div class="top_tell_logo">
                <p>{$Think.lang._company_name}</p>
            </div>
-->
            <div class="top_tell_logo">
            <img src="__PUBLIC__/winbell/logo.jpg" width="104" height="78" alt="上海盈贝国际贸易有限公司" class="logo l"><p>{$Think.lang._company_name}</p>
            </div>
        </div>
        
        <div class="nav_winbell" id="nav_winbell">
            <ul>
            <volist name="cvt10000" id="menu">
                <li class="nav_winbell_01"><a href="{$menu.long_desc}">{$menu.short_desc}</a>
                    <div class="nav_winbell_ul" style="display: none;">
                        <volist name="menu.cvt10002" id="submenu">
                            <a href="{$submenu.long_desc}">{$submenu.short_desc}</a>
                        </volist>    
                    </div> 
                </li>
            </volist>
            </ul>
        </div>
    </div>



    <div class="ny_banner l"><img src="__PUBLIC__/winbell/banner_11.jpg" width="1920" height="198" alt=""></div>
    <div class="clear"></div>
    <div id="content">
        <div class="ny_back">
            <div class="main_11 fix wid_1000">
                <div class="main_w2 r">
                    <div class="ny_tl">
                        <div class="dhwz r">{$Think.lang._current_postion}<a href="{:U('/index')}">{$Think.lang._home}</a>
                        <block name="localhost">{$current_path}</block>
                        </div>
                        <block name="content_title"><span>{$current_title}</span></block>
                    </div>   
<!-- 主要内容展示 开始-->
<block name="main-content">
                    <div class="ny_show">
                        <div class="show" id="show">
                            <div class="show_big">
                                <ul>
                                <script language="javascript" src="__PUBLIC__/winbell/imgResize.js"></script>
                                    <li style="position: absolute; z-index: 9; left: 0px; top: 0px;"><img src="__PUBLIC__/winbell/2-140922155Q3-bk.jpg" alt="21-鲁道夫新版eco吊牌正面" title="21-鲁道夫新版eco吊牌正面" onload="javascript:ImgReSize(this,600,600)"></li>
                                    <li style="position: absolute; z-index: 1; opacity: 0; left: 0px; top: 0px;"><img src="__PUBLIC__/winbell/2-141013143510D5.jpg" alt="21-鲁道夫新版eco吊牌反面" title="21-鲁道夫新版eco吊牌反面" onload="javascript:ImgReSize(this,600,600)"></li>
                                </ul>
                            </div>
                            <div class="show_sml">
                                <div class="show_smlbk">
                                    <ul style="width: 272px; margin-left: 0px;">
                                        <li class="sh_z"><img src="__PUBLIC__/winbell/l2-140922155Q3_133_90.jpg" alt="21-鲁道夫新版eco吊牌正面" height="90" title="21-鲁道夫新版eco吊牌正面"></li>
                                        <li><img src="__PUBLIC__/winbell/l2-141013143510D5_133_90.jpg" alt="21-鲁道夫新版eco吊牌反面" height="90" title="21-鲁道夫新版eco吊牌反面"></li>
                                    </ul>
                                </div>
                                <span class="sh_prev" style="display: none;"></span>
                                <span class="sh_next" style="display: none;"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="fy mar_20">共 <b>1</b>页<b>2</b>条记录</div>  -->
</block>
<block name="second-content">
</block>
<!-- 主要内容展示 结束-->
                </div>
<!--左边list-->
                <div class="main_w1 l">
                    <div class="title_01">{$Think.lang._prod_center}<i class="icon_01"></i><span class="icon_21"></span></div>
                    <div class="left_menu" id="left_menu">
                        <ul>
                            <volist name="class[data][subclass]" id="classData" key="i">

                                <li>
                                    
                                    <a href="{$classData['ar_c_url']}" id="dd1021">{$classData.ar_c_title}</a>
                                    
                                
                                <div style="display: none;" class="menu_div01">
                                <volist name="classData['subclass']" id="subclassData" key="j">
                                    <a href="{$subclassData['ar_c_url']}" id="dd693">{$subclassData.ar_c_title}</a>
                                </volist>
                                </div>
                                </li>
                            
                            </volist>
                        </ul>
                    </div>
                </div>
                <img src="__PUBLIC__/winbell/ny_bot.png" width="690" height="23" alt="" class="ny_fot">
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer">
            <ul>
                <li>Copyright <em class="en">©</em> {$Think.lang._company_name} All Rights Reserved 沪ICP备11030505号-2 </li>
                <li><span>{$Think.lang._tel}86-21-65679986</span><span>{$Think.lang._address}{$Think.lang._address_details}</span></li>

            </ul>
        </div>
    </div>


<script language="JavaScript"> 
document.oncontextmenu=new Function("event.returnValue=false;"); //禁止右键功能,单击右键将无任何反应 
document.onselectstart=new Function("event.returnValue=false;"); //禁止先择,也就是无法复制 
</script>
</div>

<script type="text/javascript" src="__PUBLIC__/winbell/jqbase.js"></script>

<script type="text/javascript">
    $("#dd1024").addClass("menu_z");//父类id
    $("#dd699").addClass("menu_z");  //循环子类id
$(document).ready(function(){
    $("#nav_winbell").Nav({
    // 下拉菜单配置
        ctag: "li",//主菜单内容标签
        navz_cls: "nav_zz",//主菜单选中class
        navul_cls: ".nav_winbell_ul", //子菜单calss
        stag: "a"//子菜单内容标签
    });
    $("#left_show").Run_x({
    // 横向滚动配置
        speed: 3000, //动画速度
        auto: true, //自动滚动
        content: "#left_show",//外层经过停止区域class
        trigger: "click", //触发事件 注意用mouseover代替hover
        conbox: ".left_showbk ul", //内容容器id或class
        ctag: "li", //内容标签 默认为<a>
        copy: ".left_showbk li", //要copy的标签
        prev: ".hz_prev", //左按钮id或class
        next: ".hz_next", //右按钮id或class片
        prev_next: "prev", //滚动方向
        mar: 10 //左右marin,pad总和
    });
        $("#show").Big_sml({
        // 大小缩略图配置
            speed: 3000, //动画速度
            auto: false, //自动滚动
            trigger: "mouseover", //触发事件 注意用mouseover代替hover
            big_cls: ".show_big", //大图外层div

            ctag: "li",//大图外层div内容标签
            smlul_cls: ".show_smlbk ul",//小图外层class
            sml_cls: ".show_sml", //小图外层div
            stag: "li",//小图外层div内容标签
            smlz_cls: "sh_z",//小图选中class
            prev_cls: ".sh_prev", //左按钮class
            next_cls: ".sh_next", //右按钮class
            btn: "prev", //滚动方向
            mar_z: 16,//小图margin总和
            num: 4 //小图未被隐藏个数
        });
    if($("#show").find(".show_big").find("img").length<4){
        $("#show").find(".sh_prev").hide();
        $("#show").find(".sh_next").hide();
    }
        $("#left_menu").Nav({
    // 下拉菜单配置
        ctag: "li",//主菜单内容标签
        navz_cls: "menu_zzz",//主菜单选中class
        navul_cls: ".menu_div01", //子菜单calss
        stag: "a"//子菜单内容标签
    });
    //滚动图片
    $("#main_hot").Run_x({
    // 横向滚动配置
        speed: 3000, //动画速度
        auto: true, //自动滚动
        less: true,//是否无缝
        content: "#main_hot",//外层经过停止区域class
        trigger: "click", //触发事件 注意用mouseover代替hover
        conbox: ".main_hotbk ul", //内容容器id或class
        ctag: "li", //内容标签 默认为<a>
        copy: ".main_hotbk li", //要copy的标签
        prev: ".hot_prev", //左按钮id或class
        next: ".hot_next", //右按钮id或class片
        prev_next: "prev", //滚动方向
        lessnum: 1, //无缝滚倍数
        mar: 0 //左右marin,pad总和
    });
});
</script>

</body></html>