<!DOCTYPE html> 
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><block name="title"></block><block name="connect"><if condition="$site['site_name_suffix']"> - {$site['site_name_suffix']}</if></block>
    </title>
    <meta name="keywords" content="<block name="seo-keywords">{$site['site_keywords']}</block>" />
    <meta name="description" content="<block name="seo-description">{$site['site_description']}</block>" />
    <meta name="version" content="{$site['site_version']}" />
    <meta name="author" content="{$site['site_author']}" />
    <block name="meta"></block>
    <!-- ico/css/js -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.3.3.5.min.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/winbell/style.css">

    <script src="__PUBLIC__/js/jquery.2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.3.3.5.min.js"></script>
</head>

<body>





<div id="wrapper">
    <div id="header">
        <div class="wel">
            <div class="wel_link r">
                <ul>
                    <li><a href="#" class="icon_13">联系我们</a></li>
                    <li><a onclick="window.external.AddFavorite(location.href,document.title)" style="cursor:pointer" class="icon_12">收藏本站</a></li>
                    <li class="fir_li"><a href="./index.html" class="icon_11">返回首页</a></li>
                </ul>
            </div>
            WELCOME TO OUR WEBSITE !
        </div>
        <div class="top">
            <div class="top_tell pull-right">
                ---格恩服务热线---
                <p>021-65679986</p>
            </div>
            <a href="http://www.win-bell.net/"><img src="__PUBLIC__/winbell/logo.jpg" width="506" height="85" alt="上海盈贝国际贸易有限公司" class="logo l"></a>
        </div>
        
        <div class="nav_winbell" id="nav_winbell">
            <ul>
            <volist name="cvt10000" id="menu">
                <li class="nav_winbell_01"><a href="{$menu.long_desc}">{$menu.short_desc}</a>
                    <div class="nav_winbell_ul" style="display: none;">
                        <volist name="menu.cvt10002" id="submenu">
                            <a href="{$submenu.long_desc}">{$submenu.short_desc}</a>
                        </volist>    
                    </div> 
                </li>
            </volist>
            </ul>
        </div>
    </div>



    <div class="ny_banner l"><img src="__PUBLIC__/winbell/banner_11.jpg" width="1920" height="198" alt=""></div>
    <div class="clear"></div>
    <div id="content">
        <div class="ny_back">
            <div class="main_11 fix wid_1000">
                <block name="main-content"><!-- 内容 --></block>
                <div class="main_w2 r">
                    <div class="ny_tl">
                        <div class="dhwz r">当前位置：<a href="{:U('/index')}">网站首页</a>
                        <block name="localhost">{$current_path}</block>
                        </div>

                    </div>   
<!-- 主要内容展示 开始-->
<block name="face-image">
                    <div class="ny_show">
                        <div class="show" id="show">
                            <div class="show_big">
                                <ul>
                                <script language="javascript" src="__PUBLIC__/winbell/imgResize.js"></script>
                                    <li style="position: absolute; z-index: 9; left: 0px; top: 0px;"><img src="__PUBLIC__/winbell/2-140922155Q3-bk.jpg" alt="21-鲁道夫新版eco吊牌正面" title="21-鲁道夫新版eco吊牌正面" onload="javascript:ImgReSize(this,600,600)"></li>
                                    <li style="position: absolute; z-index: 1; opacity: 0; left: 0px; top: 0px;"><img src="__PUBLIC__/winbell/2-141013143510D5.jpg" alt="21-鲁道夫新版eco吊牌反面" title="21-鲁道夫新版eco吊牌反面" onload="javascript:ImgReSize(this,600,600)"></li>
                                </ul>
                            </div>
                            <div class="show_sml">
                                <div class="show_smlbk">
                                    <ul style="width: 272px; margin-left: 0px;">
                                        <li class="sh_z"><img src="__PUBLIC__/winbell/l2-140922155Q3_133_90.jpg" alt="21-鲁道夫新版eco吊牌正面" height="90" title="21-鲁道夫新版eco吊牌正面"></li>
                                        <li><img src="__PUBLIC__/winbell/l2-141013143510D5_133_90.jpg" alt="21-鲁道夫新版eco吊牌反面" height="90" title="21-鲁道夫新版eco吊牌反面"></li>
                                    </ul>
                                </div>
                                <span class="sh_prev" style="display: none;"></span>
                                <span class="sh_next" style="display: none;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="fy mar_20">共 <b>1</b>页<b>2</b>条记录</div>
</block>
<!-- 主要内容展示 结束-->
                </div>
<!--左边list-->
                <div class="main_w1 l">
                    <div class="title_01">服装功能吊牌管理<i class="icon_01"></i><span class="icon_21"></span></div>
                    <div class="left_menu" id="left_menu">
                        <ul>
                            <volist name="class[data][subclass]" id="classData" key="i">

                                <li>
                                    
                                    <a href="{$classData['ar_c_url']}" id="dd1021">{$classData.ar_c_title}</a>
                                    
                                
                                <div style="display: none;" class="menu_div01">
                                <volist name="classData['subclass']" id="subclassData" key="j">
                                    <a href="{$subclassData['ar_c_url']}" id="dd693">{$subclassData.ar_c_title}</a>
                                </volist>
                                </div>
                                </li>
                            
                            </volist>
                        </ul>
                    </div>
                    
                    <div class="title_01 mar_20"><a href="http://www.greenexplore.cn/news_2_1.html" class="more_11 r">More</a>政策法规<i class="icon_01"></i><span class="icon_21"></span></div>
                    <div class="left_news back_w">
                        <ul>
                            <li><a href="http://www.greenexplore.cn/news_2719.html">纺织品阻燃性能的测式方法</a></li>
<li><a href="http://www.greenexplore.cn/news_2703.html">防水防油易去污纺织整理技术国外的相</a></li>

                        </ul>
                    </div>
                    <div class="title_01 mar_20"><a href="http://www.greenexplore.cn/index_5.html" class="more_11 r">More</a>最新产品<i class="icon_01"></i><span class="icon_21"></span></div>
                    <div class="left_show back_w" id="left_show">
                        <div class="left_showbk">
                            <ul style="width: 880px; margin-left: -220px;">
                                <li><p><a href="http://www.greenexplore.cn/products_1078.html" class="b">三防助剂 NT-X668</a></p>
                            <div style="overflow:hidden; height:96px;">三防助剂 NT-X668 NT-X668 是一种可用于棉、聚酯及羊毛的耐久性拒水、拒油整理剂。 产品特性  赋予织物卓越的耐久拒水及拒...</div>
                        </li>
<li><p><a href="http://www.greenexplore.cn/products_1042.html" class="b">Nuva® N 2114 liquid</a></p>
                            <div style="overflow:hidden; height:96px;">Nuva N 2114 liquid 具有极佳的拒水，拒油性，适于化纤和纤维素纤维，特别是棉，涤纶以及他们的混纺物； 对织物上残留的杂质...</div>
                        </li>

                            <li><p><a href="http://www.greenexplore.cn/products_1078.html" class="b">三防助剂 NT-X668</a></p>
                            <div style="overflow:hidden; height:96px;">三防助剂 NT-X668 NT-X668 是一种可用于棉、聚酯及羊毛的耐久性拒水、拒油整理剂。 产品特性  赋予织物卓越的耐久拒水及拒...</div>
                        </li><li><p><a href="http://www.greenexplore.cn/products_1042.html" class="b">Nuva® N 2114 liquid</a></p>
                            <div style="overflow:hidden; height:96px;">Nuva N 2114 liquid 具有极佳的拒水，拒油性，适于化纤和纤维素纤维，特别是棉，涤纶以及他们的混纺物； 对织物上残留的杂质...</div>
                        </li></ul>
                        </div>
                        <span class="hz_prev" style="display:none"></span>
                        <span class="hz_next" style="display:none"></span>
                    </div>
                </div>
                <img src="__PUBLIC__/winbell/ny_bot.png" width="690" height="23" alt="" class="ny_fot">
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer">
            <ul>
                <li>Copyright <em class="en">©</em> 2014-2015 版权所有：杭州格恩纺织化工有限公司 All Rights Reserved </li>
                <li><span>电话/TEL：86-571-86766296</span><span>地址/ADD：浙江省杭州市丁桥紫丁香路151号新城广场550室</span>|<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253651109'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253651109%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1253651109"><a href="http://www.cnzz.com/stat/website.php?web_id=1253651109" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="__PUBLIC__/winbell/pic1.gif"></a></span><script src="__PUBLIC__/winbell/z_stat.php" type="text/javascript"></script><script src="__PUBLIC__/winbell/core.php" charset="utf-8" type="text/javascript"></script></li>

            </ul>
        </div>
    </div>


<script language="JavaScript"> 
document.oncontextmenu=new Function("event.returnValue=false;"); //禁止右键功能,单击右键将无任何反应 
document.onselectstart=new Function("event.returnValue=false;"); //禁止先择,也就是无法复制 
</script>
</div>

<script type="text/javascript" src="__PUBLIC__/winbell/jqbase.js"></script>

<script type="text/javascript">
    $("#dd1024").addClass("menu_z");//父类id
    $("#dd699").addClass("menu_z");  //循环子类id
$(document).ready(function(){
    $("#nav_winbell").Nav({
    // 下拉菜单配置
        ctag: "li",//主菜单内容标签
        navz_cls: "nav_zz",//主菜单选中class
        navul_cls: ".nav_winbell_ul", //子菜单calss
        stag: "a"//子菜单内容标签
    });
    $("#left_show").Run_x({
    // 横向滚动配置
        speed: 3000, //动画速度
        auto: true, //自动滚动
        content: "#left_show",//外层经过停止区域class
        trigger: "click", //触发事件 注意用mouseover代替hover
        conbox: ".left_showbk ul", //内容容器id或class
        ctag: "li", //内容标签 默认为<a>
        copy: ".left_showbk li", //要copy的标签
        prev: ".hz_prev", //左按钮id或class
        next: ".hz_next", //右按钮id或class片
        prev_next: "prev", //滚动方向
        mar: 10 //左右marin,pad总和
    });
        $("#show").Big_sml({
        // 大小缩略图配置
            speed: 3000, //动画速度
            auto: false, //自动滚动
            trigger: "mouseover", //触发事件 注意用mouseover代替hover
            big_cls: ".show_big", //大图外层div

            ctag: "li",//大图外层div内容标签
            smlul_cls: ".show_smlbk ul",//小图外层class
            sml_cls: ".show_sml", //小图外层div
            stag: "li",//小图外层div内容标签
            smlz_cls: "sh_z",//小图选中class
            prev_cls: ".sh_prev", //左按钮class
            next_cls: ".sh_next", //右按钮class
            btn: "prev", //滚动方向
            mar_z: 16,//小图margin总和
            num: 4 //小图未被隐藏个数
        });
    if($("#show").find(".show_big").find("img").length<4){
        $("#show").find(".sh_prev").hide();
        $("#show").find(".sh_next").hide();
    }
        $("#left_menu").Nav({
    // 下拉菜单配置
        ctag: "li",//主菜单内容标签
        navz_cls: "menu_zzz",//主菜单选中class
        navul_cls: ".menu_div01", //子菜单calss
        stag: "a"//子菜单内容标签
    });
});
</script>

</body></html>